body {
 padding: 0;
 margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-info {
  /* background-color: #f3f4ed; */
  margin: 20px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
  text-align: start;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #302a2c;
  font-weight: lighter;
  letter-spacing: .5mm;
}

.header {
  background-color: #f3f4ed;
}

.search {
  padding: 10px;
  width: 300px;
  margin: 20px 5px;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

.btn-search {
  background-color: #fff;
  padding-bottom: 11px;
  border: none;
}

.btn {
  background-color: #fff;
  border: none;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin: 20px;
  color: #302a2c;
  letter-spacing: .3mm;
}

.btn:hover {
  color: #68cd94;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  letter-spacing: .3mm;
}

li, p {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .3mm;
}